:host{
  display: block;
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;

  h3{
    font: var(--tui-font-heading-5);
    text-align: center;
    margin: 1rem;
  }
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
