:host{
  display: block;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font: var(--tui-font-text-xl)
}

.order-status-active{
  color: #44c596
}

.order-status-rejected{
  color: #ff8c67
}

.carriages-list{
  margin: 1rem;
}
